.colContainer {
  margin-top: 40px;
}

.rowContainer {
  height: 150px;
}

.colOrange {
  background: #FF7100;
  height: 100%;
}

.colYellow {
  background: #FFEDB3;
  height: 100%;
}

.rowContent {
  height: 100%;
}